.hourglass {
  transform: rotate(360deg);
  animation: hourglass 2s 1s infinite;
}
.st0 {
  fill: none;
  stroke: #ffffff;
  stroke-width: 3;
  stroke-miterlimit: 10;
}
.st1,
.st2 {
  fill: #000;
  transform-origin: 50% 50%;
  animation: hourglass1 2s infinite;
}
.st2 {
  transform: scale(0);
  animation: hourglass2 2s infinite;
}
@keyframes hourglass {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(180deg);
  }
  45% {
    transform: rotate(180deg);
  }
  65% {
    transform: rotate(360deg);
  }
  90% {
    transform: rotate(360deg);
  }
}
@keyframes hourglass1 {
  10% {
    transform: scale(1);
  }
  40% {
    transform: scale(0);
  }
  60% {
    transform: scale(0);
  }
  90% {
    transform: scale(1);
  }
}
@keyframes hourglass2 {
  10% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
  60% {
    transform: scale(1);
  }
  90% {
    transform: scale(0);
  }
}
