* {
  box-sizing: border-box;
}
.home-div h2 {
  font-size: 8rem !important;
  text-align: center;
  color: black;
}

.home-div {
  padding: 64px 0;
  background-color: azure;
}

.center {
  display: flex;
  justify-content: center;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
.container-home {
  min-height: 100vh;
}
.center-info {
  margin: auto;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
.home-div button {
  margin-left: 16px;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.fade-in {
  animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.redux-headings {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 16px;
}

@media screen and (max-width: 900px) {
  .center-info {
    margin: none;
  }
}
