.total-page {
  box-sizing: border-box;
  min-width: 100vw;
  min-height: 100vh;
}
.page__background {
  background-image: url("assets/bg-intro-desktop.png");
}

.page__background--over {
  background-color: var(--style-color-primary);
}

.author {
  position: absolute;
  bottom: 1%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  font-style: italic;
}
@media screen and (max-width: 375px) {
  .page__background {
    background-image: url("assets/bg-intro-mobile.png");
  }
}
